.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(19, 13, 13, 0.5);
}

.left-container {
    display: flex;
    flex-direction: column;
    min-width: 50vw;
    min-height: 88vh;
}


.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 350px;
    background-color: rgba(0, 0, 0, 0.575);
}

.image-preview img {
    max-width: 500px;
    height: auto;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.inputs input{
    font-size: 14px;
    padding: 12px 20px;
}

.inputs p{
    padding: 0 20px;
    font-size: 18px;
}

.inputs textarea{
    min-width: 400px;
    margin: auto;
    margin-left: 20px;
}

.inputs button{
    width: 150px;
    margin: 20px;
    padding: 10px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 10px;
    background-color: white;
}

.output-message {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-width: 50%;
    border: 1px solid black;
    height: 88vh;
    gap: 10px;
    box-sizing: border-box;
    /* overflow: auto; */
}

.output-message p {
    padding: 10px;
    font-size: 18px;
    margin: 0;
}