.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(19, 13, 13, 0.5);
    height: 88vh;
}

.left-container {
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
    width: 50vw;
    height: 88vh;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 320px;
    background-color: rgba(0, 0, 0, 0.575);
}

.image-preview img {
    max-width: 500px;
    max-height: 300px;
    height: auto;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid black;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.inputs input{
    font-size: 12px;
    padding: 4px 10px;
}

.inputs p{
    padding: 0 10px;
    font-size: 18px;
}

.inputs textarea{
    min-width: 400px;
    margin: auto;
    margin-left: 20px;
}

.inputs button{
    width: 150px;
    margin: 20px;
    padding: 10px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 10px;
    background-color: white;
}


.right-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50vw;
    border: 1px solid black;
    height: 88vh;
}

.enc-image-container {
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 350px;
    background-color: rgba(0, 0, 0, 0.575);
}


.right-container button{
    width: 150px;
    margin: 20px;
    padding: 10px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 10px;
    background-color: white;
}
