.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-container {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    min-height: 600px;
    width: 50vw;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 350px;
    background-color: aqua;
}

.image-preview img {
    width: 500px;
    height: auto;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.inputs input{
    font-size: 18px;
    padding: 10px 20px;
}

.inputs p{
    padding: 0 20px;
}

.inputs textarea{
    width: auto;
    margin: auto;
    margin-left: 20px;
}

.inputs button{
    width: 150px;
    margin: 20px;
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
}


.right-container {
    width: 50vw;
}