.container {
    display: flex;
    align-items: center;
    position: absolute;
    /* bottom: 0; */
    width: 100%;
    height: 5vh;
    background-color: black;
    color: white;
}

.container p {
    padding-left: 25px;
}